.quadrado-absoluto{
    width: 50px;
    height: 50px;
    background-color: green;
}

.quadrado-relativo{
    background-color: red;
    width: 350px;
    height: 300px;
    border: 1px solid black;
}

/* Relativo vai usar as coordenadas com referência no ponto inicial dele no HTML*/

#relative{
    position: relative;
    top: 300px;
    left: 300px;
}

/* Absoluto vai usar as coordenadas com referência no seu elemento pai (nesse caso a div com posição relativa)*/

#absolute-1{
    position: absolute;
    top: 50px;
    left: 50px;
}

#absolute-2{
    position: absolute;
    top: 50px;
    left: 250px;
}
